@media (min-width : 1500px) {
    .site-margin {
        max-width : 1400px;
    }
}

@media (min-width : 1800px) {
    .site-margin {
        max-width : 1600px;
    }
}

@media (min-width : 2000px) {
    .site-margin {
        max-width : 1800px;
    }
}

@media (min-width : 1200px) {
    .modal-lg {
        max-width : 1000px;
    }
}

@media (min-width : 1500px) {
    .modal-lg {
        max-width : 1300px;
    }
}

nav a.navbar-brand {
    letter-spacing : 0.1em;
}