#products.card-deck .card {
    min-width : 260px;
    cursor    : pointer;
}

#products.card-deck .card img.card-img-top {
    height     : 300px;
    object-fit : cover;
}

#products.card-deck .card,
#mini-cards .card {
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#products.card-deck .card:hover,
#mini-cards .card:hover {
    box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Product card modal*/

#product-card-modal img#product-modal-main-product-img {
    object-fit : cover;
}

#product-modal #main-image-container {
    position : relative;
}

#main-image-container img {
    width      : 100%;
    max-height : 100%;
    object-fit : cover;
}

#loading-placeholder {
    opacity    : 0.7;
    background : black;
    position   : absolute;
}

#product-modal-content {
    min-height : 720px;
}

#mini-cards .card {
    max-width : 200px;
    cursor    : pointer;
}

#mini-cards .card img {
    height           : 180px;
    width            : 100%;
    object-fit       : cover;
    background-color : #f8f9fa;
}

.bg-dark .text-muted {
    color : #b0b2b3 !important;
}

/*Clones*/
#product-modal-tier-button-clone {
    display : none !important;
}

/*Search bar*/

#search-bar {
    flex       : 0 0 41.666667%;
    max-width  : 41.666667%;
    transition : all 250ms;
}

#search-bar:focus {
    max-width    : 55% !important;
    flex         : 0 0 100% !important;
    border-color : white !important;;
    color        : white;
    background   : #222 !important;;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance : searchfield-cancel-button;
}