<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strings Manila | Order #{{ order.id }}</title>

    {% load static %}
    {% include 'bootstrap.html' %}

    <!--Stylesheets-->
    <link rel="stylesheet"
          href="{% static "stylesheets/navbar.css" %}">
    <link rel="stylesheet"
          href="{% static "stylesheets/orders.css" %}">

    <!--Scripts-->
    <script src="{% static "scripts/csrf.js" %}"></script>
    <script src="{% static "scripts/orders.js" %}"></script>

    <!--IzToast - Import only when needed-->
    {% if order.status == 'U' %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"
                type="text/javascript"></script>
    {% endif %}
</head>
<body class="bg-light">

{% include 'navbar.html' %}

<input id="order-id"
       type="hidden"
       value="{{ order.id }}">

<div class="container p-5 col-lg-7 orders-list">
    <div class="">
        <a href="/orders/"
           class="btn btn-outline-dark mb-5">Return to orders list</a>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="d-flex flex-column mr-auto">
                <h2 class="">Order #{{ order.id }}</h2>
                <h5 class="text-muted">Order placed {{ order.date_ordered }}</h5>
                <h5 class="text-muted">Status: <span class="{% if order.status == 'V' %}
                                                            text-warning
                                                         {% elif order.status == 'P' %}
                                                            text-primary
                                                         {% elif order.status == 'S' %}
                                                            text-success
                                                         {% elif order.status == 'C' %}
                                                            text-danger
                                                         {% endif %}">{{ order.get_status_display }}</span></h5>
            </div>

            {% if order.status == 'U' %}
                <button class="btn btn-outline-danger"
                        data-toggle="modal"
                        data-target="#cancel-order-modal">Cancel this order
                </button>
            {% endif %}
        </div>

        {% if order.store_notes %}
            <div class="alert alert-success p-4 mb-4"
                 role="alert">
                <h4 class="alert-heading">Store Notes</h4>
                <p class="mb-0">{{ order.store_notes }}</p>
            </div>
        {% endif %}

        {% if order.status == 'U' %}
            <div class="alert alert-info p-4 mb-4"
                 role="alert">
                <h4 class="alert-heading">This order has not yet been paid.</h4>
                <p>This order will be cancelled automatically by <strong>{{ order.expiration_date }}</strong> if payment
                    has not been received by then.
                    To submit payment, deposit <b>₱{{ order.total_price }}</b> to the a bank account below
                    and then upload the deposit slip.</p>

                <button class="btn btn-info"
                        data-toggle="modal"
                        data-target="#submit-payment-modal">Upload deposit slip
                </button>

                <hr class="mt-4 mb-4">


                <div class="mb-4">
                    <h5 class="mb-0">Bank Accounts</h5>
                    <p>Select a preferred bank account below to see its details</p>
                </div>

                <div id="bank-accounts-accordion"
                     role="tablist"
                     class="mb-4 col-8 mr-auto p-0">
                    {% for account in accounts %}
                        <div class="card bg-info">
                            <div class="card-header"
                                 role="tab">
                                <h5 class="mb-0">
                                    <a class="text-white"
                                       data-toggle="collapse"
                                       href="#account-{{ account.id }}"
                                       aria-controls="account-{{ account.id }}">
                                        {{ account.bank_name }}
                                    </a>
                                </h5>
                            </div>

                            <div id="account-{{ account.id }}"
                                 class="collapse"
                                 role="tabpanel"
                                 data-parent="#bank-accounts-accordion">
                                <div class="card-body">
                                    <table class="table table-bordered text-white">
                                        <tbody>
                                        <tr>
                                            <th>Account Holder</th>
                                            <td>{{ account.account_holder_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Account Number</th>
                                            <td>{{ account.account_number }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <table class="table">
            <thead class="thead-default">
            <tr>
                <th style="width: 80px"></th>
                <th>Product name</th>
                <th>Option</th>
                <th>Unit Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for line_item in order.orderlineitem_set.all %}
                <tr>
                    <td><img class="table-image"
                             src="{{ line_item.tier.product_description.image }}"></td>
                    <td>{{ line_item.tier.product_description.name }}</td>
                    <td>
                        {% if line_item.tier.product_description.is_singular %}
                            <small class="text-muted">N/A</small>
                        {% else %}
                            {{ line_item.tier.name }}
                        {% endif %}
                    </td>
                    <td>₱{{ line_item.unit_price }}</td>
                    <th>{{ line_item.quantity }}</th>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><h4>Total Price</h4></td>
                <td></td>
                <td><h4>₱{{ order.total_price }}</h4></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% if order.status == 'U' %}
    <!--Confirm Cancel Order Modal-->
    <div class="modal fade"
         id="cancel-order-modal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content border-danger">
                <!--Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Are you sure you want to cancel this order?</h5>
                    <button type="button"
                            class="close text-white"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <p>This cannot be undone.</p>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button id="confirm-cancel-order-button"
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal">Confirm Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Submit Payment Modal-->
    <div class="modal fade"
         id="submit-payment-modal"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel">Upload deposit slip</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4 d-flex align-items-center justify-content-center">
                    <input id="upload-deposit-slip-input"
                           type="file"
                           class="form-control-file w-100 ">
                </div>
                <div class="modal-footer">
                    <button id="upload-deposit-slip-button"
                            type="button"
                            data-dismiss="modal"
                            class="btn btn-dark"
                            disabled>Upload
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endif %}
</body>
</html>